{% extends 'base.html' %}

{% block content %}
    <section class="section-custom">
        <div>
            <div>
                <h1 class="h1-custom">Project Description</h1>
                <p class="p-custom">Send text messages to your customers to keep them informed of your progress.</p>
                <h1 class="h1-custom">Technology Stack Used</h1>
                <ul>
                    <li>Python</li>
                    <li>SQL Alchemy</li>
                    <li>Jinja</li>
                    <li>Flask</li>
                    <li>React</li>
                    <li>Tailwind UI</li>
                    <li>Lottie UI</li>
                </ul>
                <h1 class="h1-custom">How to Contact</h1>
            </div>
        </div>
    </section>
  {% endblock %}