{% extends 'base.html' %}

  {% block content %}
  
    <section class="column section-custom intro-header">
        <div class="row-custom">
            <div>
                <h1 class="h1-custom">Communicate with your buyers and improve satisfaction.</h1>
                <p class="p-custom">Send text messages to your customers to keep them informed of your progress.</p>
                <div>
                    <a class="a-border a-custom" href="/join">Sign Me Up</a>
                </div>
            </div>
            <div class="row-custom">
                <p>After Effects Items Here</p>
            </div>
        </div>
    </section>
  {% endblock %}
