{% extends 'base.html' %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/styles.css"> 
  </head>
  <body>
    {% block content %}
    <div id="order-history grid-header"><h1>Order History</h1></div>
    <div id='order-container' class='grid-item'></div>
    <script src="/static/js/homepage.jsx" type="text/jsx"></script>
    <script
  crossorigin
  src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
></script>

      
    {% endblock %}
  </body>
  {% block js %}
  {% endblock%}
  </html>

     