{% extends 'base.html' %}

  {% block content %}
  
    <section class="column section-custom">
        <div class="row-custom">
            <div>
                <h1 class="h1-custom">Communicate with your buyers and improve satisfaction.</h1>
                <p class="p-custom">Send text messages to your customers to keep them informed of your progress.</p>
                <div>
                    <a class="a-border a-custom" href="/join">Sign Me Up</a>
                </div>
            </div>
            <div class="row-custom">
                <img src="https://as2.ftcdn.net/jpg/03/10/10/23/500_F_310102350_0l0R6DiG9pUBGJQstyhfKgXm8L0rUWRK.jpg">
            </div>
        </div>
    </section>
  {% endblock %}
