{% extends 'base.html' %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Skills 4</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script
      src="http://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
  </head>
  <body>
    {% block content %}
<p>You are sending a message to:</p>
{% for item in order %}
<div>{{item["first_name"]}} {{item["last_name"]}}</div>

<p>What message do you want to send?</p>

<form action="/sendmessage">
  <input type="hidden" name="order" value= '{{item["order_id"]}}'>
  <input type="hidden" name="phone" value= '{{item["phone"]}}'>
  <input type="hidden" name="message" value=
  'Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}'>
  <p name="message" value=
  'Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}'>Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}.</p>
  <input type="submit" value="Send">
</form>
{% endfor %}
    {% endblock %}
      </body>
