{% extends 'base.html' %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Skills 4</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script
      src="http://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
  </head>
  <body>
    {% block content %}
    
<h2 class="h2-custom">You are sending a message to:</h2>
{% for item in order %}
<div><p class="p-custom">{{item["first_name"]}} {{item["last_name"]}}</p></div>

<h2 class="h2-custom">What message do you want to send?</h2>

<div class="row-custom">
<form class="message-container-custom" action="/sendmessage">
  <input type="hidden" name="order" value= '{{item["order_id"]}}'>
  <input type="hidden" name="phone" value= '{{item["phone"]}}'>
  <input type="hidden" name="message" value=
  'Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}.'>
  <input class="message-button-custom" type="submit" value="Send">
  <p class="p-custom" name="message" value=
  'Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}.'>Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}.</p>
</form>

<form class="message-container-custom" action="/sendmessage">
  <input type="hidden" name="order" value= '{{item["order_id"]}}'>
  <input type="hidden" name="phone" value= '{{item["phone"]}}'>
  <input type="hidden" name="message" value=
  'Hello {{item["first_name"]}}, Friendly update that we have started work on {{item["item"]}}.'>
  <input class="message-button-custom" type="submit" value="Send">
  <p class="p-custom" name="message" value=
  'Hello {{item["first_name"]}}, Friendly update that we have started work on {{item["item"]}}.'>Hello {{item["first_name"]}}, Friendly update that we have started work on {{item["item"]}}.</p>
</form>

<form class="message-container-custom" action="/sendmessage">
  <input type="hidden" name="order" value= '{{item["order_id"]}}'>
  <input type="hidden" name="phone" value= '{{item["phone"]}}'>
  <input type="hidden" name="message" value=
  'Hello {{item["first_name"]}}, We have finished {{item["item"]}} and will be delivering soon.'>
  <input class="message-button-custom" type="submit" value="Send">
  <p class="p-custom" name="message" value=
  'Hello {{item["first_name"]}}, We have finished {{item["item"]}} and will be delivering soon.'>Hello {{item["first_name"]}}, We have finished  {{item["item"]}} and will be delivering soon.</p>
</form>
<div> 
  <div class="custom-message-custom">
    <form action="/sendmessage">
      <input type="hidden" name="order" value= '{{item["order_id"]}}'>
      <input type="hidden" name="phone" value= '{{item["phone"]}}'>
      <input class="message-button-custom" type="submit" value="Send">
      <p class="p-custom">Enter your own message</p>
      <input type="text" name="message">
  </form>
    </div>
</div>
</div>
{% endfor %}
    {% endblock %}
      </body>
