{% extends 'base.html' %}

    {% block content %}
<div class="intro-header">  
<h2 class="h2-custom">You are sending a message to:</h2><br>
{% for item in order %}
<div><p class="p-custom">{{item["first_name"]}} {{item["last_name"]}}</p></div><br>

<h2 class="h2-custom">What message do you want to send?</h2><br>

<div class="row-custom">
<form class="message-container-custom" action="/sendmessage">
  <input type="hidden" name="order" value= '{{item["order_id"]}}'>
  <input type="hidden" name="phone" value= '{{item["phone"]}}'>
  <input type="hidden" name="message" value=
  'Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}.'>
  <input class="message-button-custom" type="submit" value="Send">
  <p class="p-custom" name="message" value=
  'Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}.'>Hello {{item["first_name"]}}, We are about to begin on your {{item["item"]}}.</p>
</form>

<form class="message-container-custom" action="/sendmessage">
  <input type="hidden" name="order" value= '{{item["order_id"]}}'>
  <input type="hidden" name="phone" value= '{{item["phone"]}}'>
  <input type="hidden" name="message" value=
  'Hello {{item["first_name"]}}, Friendly update that we have started work on {{item["item"]}}.'>
  <input class="message-button-custom" type="submit" value="Send">
  <p class="p-custom" name="message" value=
  'Hello {{item["first_name"]}}, Friendly update that we have started work on {{item["item"]}}.'>Hello {{item["first_name"]}}, Friendly update that we have started work on {{item["item"]}}.</p>
</form>

<form class="message-container-custom" action="/sendmessage">
  <input type="hidden" name="order" value= '{{item["order_id"]}}'>
  <input type="hidden" name="phone" value= '{{item["phone"]}}'>
  <input type="hidden" name="message" value=
  'Hello {{item["first_name"]}}, We have finished {{item["item"]}} and will be delivering soon.'>
  <input class="message-button-custom" type="submit" value="Send">
  <p class="p-custom" name="message" value=
  'Hello {{item["first_name"]}}, We have finished {{item["item"]}} and will be delivering soon.'>Hello {{item["first_name"]}}, We have finished  {{item["item"]}} and will be delivering soon.</p>
</form>

</div><br><br>
<div> 
  <div class="custom-message-custom" style="display:block;margin-left: 35%;">
    <form action="/sendmessage">
      <input type="hidden" name="order" value= '{{item["order_id"]}}'>
      <input type="hidden" name="phone" value= '{{item["phone"]}}'>
      <div style="overflow: hidden;">
        <input type="text" name="message" placeholder="Enter your own message" style="width:50%;">
        <input class="custom-message-button-custom" type="submit" value="Send">
      </div>
  </form>
  </div><br><br><br>
<div style="display:block;margin-left: 43%;">
  <a href="/history/{{item["order_id"]}}">See Message History</a>
</div>
</div>
</div>
{% endfor %}
    {% endblock %}
