{% extends 'base.html' %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/styles.css"> 
  </head>
  <body>
    {% block content %}

    <h1>
      Welcome {{ session['name']}}!
    </h1>
    <p>Select an order to get started.</p>
    <div class="flex flex-col">
              <tbody>
                <div id='order-container' class='grid-item'></div>
                <script src="/static/js/homepage.jsx" type="text/jsx"></script>
                <script crossorigin
  src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
></script>
              </tbody>
    </div>
    

      
    {% endblock %}
  </body>
  {% block js %}
  {% endblock%}
  </html>

     