{% extends 'base.html' %}
    {% block content %}

    {% if 'user_id' in session %}
    <div class="intro-header">
      <h1 class="h1-custom">
      Welcome {{ session['name']}}!
      </h1>
    <p class="p-custom">Select an order to get started.</p>
    {% endif %}
    <div>
        <div class="border-gray-200 sm:rounded-lg centered " id="order-container">
          <script src="/static/js/homepage.jsx" type="text/jsx"></script>
          <script crossorigin
            src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
        </div>
      </div>
    </div>

    {% endblock %}
  {% block js %}
  {% endblock%}
     